# fastapi
# uvicorn
# pydantic
# python-dotenv
# requests
# pymupdf
# python-docx
# langchain
# langchain-community
# faiss-cpu
# email-validator
# openai


# scikit-learn

rapidfuzz
sentence_transformers
torch --extra-index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn
pydantic
python-dotenv
numpy
requests
httpx
PyMuPDF
python-docx
pymupdf
email-validator
